# 日本語対応のためUTF-8とすること。
# 仮想ドライブを任意に指定
# 標準はQ：とする
# 複数のシステムを同時起動するときのみ変更のこと
# ※必須
VirtualDrive=Q:

# 作業用フォルダは通常
# ./QGIS_portable/QGIS****　のポータルQGISのあるフォルダ 
# プロジェクトファイルの位置を指定
ProjectFile=../ProjectFiles/ProjectFile.qgs


## QGIS標準であるAPPDATA内のプロファイルを利用
# 各人のプロファイルを利用したい場合はこちら
# 最初の起動時には統一環境「portable」を自動配布します
# 標準のユーザープロファイルは「/profiles/portable」に固定
# ポータブル版のプロファイルを利用したい場合はこちら
# qgisconfig_folder=../portable_profile
